{% extends 'main_app/base.html' %}

{% block content %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Fees Pending</th>
            <th>Add Fees</th>
        </tr>
        <button class="btn btn-primary add-fees-btn" data-student-id="{{ student.id }}">Add Fees</button>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ forloop.counter }}</td>
            
            <td>{{ student.name }}</td>
            <td>{{ student.fees_pending }}</td>
            <td>
                <button class="btn btn-primary add-fees-btn" data-student-id="{{ student.id }}">Add Fees</button>
            </td>
        </tr>
        <button class="btn btn-primary add-fees-btn" data-student-id="{{ student.id }}">Add Fees</button>
        {% endfor %}
    </tbody>
</table>
{% endblock %}